In [1]:
import numpy as np 
import pandas as pd 
import os.path as op  
from datetime import date 
import time 
# The default data directory will be '../../data' 
# This can be redefined by the user of the function. 
data_dir = op.join('data') 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
raw = pd.read_excel(op.join(data_dir, 'raw_jan14-sep15.xls'), sheetname='NotQ100', header= 1)

In [3]:
raw['Authority'].unique()

array([u'Flintshire County Council', u'City  and County of Swansea ',
       u'Ceredigion County Council', u'Monmouthshire CC', u'Bridgend CBC',
       u'Newport City Council', u'Wrexham CBC', u'Caerphilly CBC',
       u'Isle of Anglesey CC', u'Rhondda Cynon Taff CBC',
       u'Carmarthenshire County Council', u'Pembrokeshire County Council',
       u'Gwynedd Council', u'Denbighshire County Council',
       u'Powys County Council', u'Conwy CBC', u'Merthyr Tydfil CBC',
       u'Torfaen CBC', u'Blaenau Gwent CBC', u'Neath Port Talbot CBC',
       u'Cardiff County Council', u'Vale of Glamorgan Council'], dtype=object)

In [4]:
print(raw['Authority'][0])

Flintshire County Council

In [5]:
raw.columns

Index([     u'Authority',         u'Period', u'QuestionNumber',
               u'QuText',    u'CollateText',        u'RowText',
              u'ColText',           u'Data',       u'RowOrder',
             u'ColOrder',       u'RowIdent',       u'ColIdent',
            u'CollateID',    u'columngroup',  u'MaterialGroup'],
      dtype='object')

In [6]:
raw = raw.drop(['CollateText','RowOrder','ColOrder','RowIdent','ColIdent','CollateID','columngroup'], axis=1)

In [7]:
raw.shape

(10111, 8)

In [8]:
raw.Period.unique()

array([u'Jan 15 - Mar 15', u'Oct 14 - Dec 14', u'Jul 14 - Sep 14',
       u'Apr 14 - Jun 14', u'Jan 14 - Mar 14'], dtype=object)

In [9]:
raw = raw[raw.Period != 'Jan 14 - Mar 14']

In [10]:
raw.Period.unique()

array([u'Jan 15 - Mar 15', u'Oct 14 - Dec 14', u'Jul 14 - Sep 14',
       u'Apr 14 - Jun 14'], dtype=object)

In [11]:
print(raw.QuestionNumber.nunique())
raw.QuestionNumber.unique()

14

array([u'Q001', u'Q002', u'Q010', u'Q011', u'Q012', u'Q016', u'Q017',
       u'Q018', u'Q023', u'Q025', u'Q026', u'Q024', u'Q034', u'Q033'], dtype=object)

In [12]:
print(raw.QuText.nunique())
raw.QuText.unique()

13

array([u'Authority Data:  Note this data is prefilled.',
       u'Tonnes of material collected through kerbside schemes from household sources by LA or its contractors',
       u'Tonnes of material collected  from commercial, industrial or other non household sources by LA or its contractors',
       u'Tonnes of material collected  through kerbside schemes by non contracted voluntary/community sector from household sources',
       u'Tonnes of material collected for recycling/reuse at CA Sites operated by LA or its contractors',
       u'Tonnes of material collected at bring sites operated by LA or its contractors',
       u'Composting / Recycling tonnage collected through any other recycling schemes.  Please note that it is optional to report how much of the total tonnage is from household sources - please see Help for further information.',
       u'Please provide details of other waste collected for disposal.  (The destination of the residual is required for authorities in Wales only.)',
       u'How many abandoned vehicles were disposed of by your authority and what percentage was recycled?',
       u'How many fridges/freezers were disposed of by your authority?',
       u'How many reported fly-tipping incidents were there in your local authority?',
       u'Tonnes of material collected for recycling at street recycling bins',
       u'Tonnes of materials collected at bring sites operated by voluntary / community sector'], dtype=object)

In [13]:
print(raw.RowText.nunique())
raw.RowText.unique()

91

array([u'Population of Authority', u'Number of Households',
       u'Dwelling Stock', u'BMW % Conversion factor',
       u'MBT Reduction Factor (Apr 2009 on)', u'Mixed Plastic Bottles',
       u'Green garden waste only', u'Waste food only', u'Mixed glass',
       u'Mixed paper &  card', u'Steel cans', u'Aluminium cans',
       u'Co mingled materials', u'WEEE - Large Domestic App',
       u'WEEE - Fridges & Freezers', u'Textiles & footwear', u'Furniture',
       u'Other Scrap metal', u'WEEE - Small Domestic App',
       u'WEEE - Cathode Ray Tubes',
       u'WEEE - Flourescent tubes and other light bulbs', u'Mixed tyres',
       u'Plasterboard', u'Composite food and beverage cartons',
       u'Mattresses', u'Carpets', u'Paper', u'Card', u'Books', u'Plastics',
       u'Wood', u'Rubble', u'Automotive batteries', u'Mineral Oil',
       u'Paint', u'Mixed cans',
       u"Municipal parks/grounds waste collected through 'other' means for composting",
       u'Collected household waste : Regular Collection',
       u'Collected household waste : Street Cleaning',
       u'Collected household waste : Bulky Waste',
       u'Collected household waste : Other',
       u'Civic amenity sites waste : Household',
       u'Civic amenity sites waste : Non Household',
       u'Collected gully emptyings',
       u'Collected non-household waste : Highways waste',
       u'Collected non-household waste : Construction and Demolition',
       u'Collected non-household waste : Grounds Waste',
       u'Collected non-household waste : Commercial & Industrial',
       u'Separately collected healthcare waste',
       u'Waste Arising from clearance of fly-tipped materials',
       u'Asbestos Waste separately collected', u'Other collected waste',
       u'Vehicles', u'Other materials',
       u'Collected non-household waste : Other', u'Beach cleansing',
       u'Aerosols', u'Area in Hectares', u'Index of Deprivation',
       u'Mixed garden and food waste', u'Bric-a-brac', u'Gas bottles',
       u'Bicycles', u'Vegetable Oil', u'Number of Fridges / Freezers',
       u'Number of Incidents Reported', u'Soil',
       u'Post consumer, non automotive batteries', u'Wood for composting',
       u'Ink & toner cartridges', u'Other compostable waste',
       u'Aluminium foil', u'Waste collected in community skips',
       u'Other method of waste / material capture', u'Car tyres',
       u'OTHER PLASTICS [7]', u'Fire extinguishers',
       u'Video tapes, DVDs and CDs', u'PVC [3]', u'Green glass',
       u'Brown glass', u'Clear glass', u'Absorbent Hygiene Products (AHP)',
       u'PS [6]', u'Composite wood materials', u'LDPE [4]',
       u'Chipboard and mdf', u'Textiles only', u'Footwear only',
       u'HDPE [2]', u'Large vehicle tyres'], dtype=object)

In [14]:
raw.ColText.unique()

array([nan, u'Tonnage collected for recycling',
       u'No. of households receiving a collection',
       u'Collected Co-mingled?', u'Tonnage Collected for Reuse',
       u'Tonnage collected for reuse', u'Tonnage', u'Percentage weighed',
       u'Destination of residual', u'Number',
       u'Tonnage from household Sources',
       u'Tonnage collected for recycling but actually rejected / disposed',
       u'Tonnage collected for recycling but actually rejected/disposed',
       u'Tonnage Collected for reuse but actually rejected / disposed',
       u'Tonnage collected for reuse but actually rejected / disposed',
       u'No. of LA bring sites by material type',
       u'% recycled by dismantler',
       u'No of segregated litter bins by material type',
       u'Tonnage collected for reuse but actually rejected/disposed',
       u'Proportion of which construction & demolition waste',
       u'Tonnage Collected for recycling'], dtype=object)

In [15]:
pd.crosstab(raw['QuText'], raw['QuestionNumber'])

QuestionNumber,Q001,Q002,Q010,Q011,Q012,Q016,Q017,Q018,Q023,Q024,Q025,Q026,Q033,Q034
QuText,,,,,,,,,,,,,,
Authority Data: Note this data is prefilled.,96,360,0,0,0,0,0,0,0,0,0,0,0,0
Composting / Recycling tonnage collected through any other recycling schemes. Please note that it is optional to report how much of the total tonnage is from household sources - please see Help for further information.,0,0,0,0,0,0,0,59,0,0,0,0,0,0
How many abandoned vehicles were disposed of by your authority and what percentage was recycled?,0,0,0,0,0,0,0,0,0,0,100,0,0,0
How many fridges/freezers were disposed of by your authority?,0,0,0,0,0,0,0,0,0,0,0,35,0,0
How many reported fly-tipping incidents were there in your local authority?,0,0,0,0,0,0,0,0,0,37,0,0,0,0
Please provide details of other waste collected for disposal. (The destination of the residual is required for authorities in Wales only.),0,0,0,0,0,0,0,0,1876,0,0,0,0,0
"Tonnes of material collected from commercial, industrial or other non household sources by LA or its contractors",0,0,0,548,0,0,0,0,0,0,0,0,0,0
Tonnes of material collected through kerbside schemes by non contracted voluntary/community sector from household sources,0,0,0,0,201,0,0,0,0,0,0,0,0,0
Tonnes of material collected at bring sites operated by LA or its contractors,0,0,0,0,0,0,666,0,0,0,0,0,0,0
Tonnes of material collected for recycling at street recycling bins,0,0,0,0,0,0,0,0,0,0,0,0,0,9
Tonnes of material collected for recycling/reuse at CA Sites operated by LA or its contractors,0,0,0,0,0,2650,0,0,0,0,0,0,0,0
Tonnes of material collected through kerbside schemes from household sources by LA or its contractors,0,0,1383,0,0,0,0,0,0,0,0,0,0,0
Tonnes of materials collected at bring sites operated by voluntary / community sector,0,0,0,0,0,0,0,0,0,0,0,0,16,0

In [16]:
pd.crosstab([raw['QuText'], raw['QuestionNumber']], raw['ColText'])

,ColText,% recycled by dismantler,Collected Co-mingled?,Destination of residual,No of segregated litter bins by material type,No. of LA bring sites by material type,No. of households receiving a collection,Number,Percentage weighed,Proportion of which construction & demolition waste,Tonnage,Tonnage Collected for Reuse,Tonnage Collected for recycling,Tonnage Collected for reuse but actually rejected / disposed,Tonnage collected for recycling,Tonnage collected for recycling but actually rejected / disposed,Tonnage collected for recycling but actually rejected/disposed,Tonnage collected for reuse,Tonnage collected for reuse but actually rejected / disposed,Tonnage collected for reuse but actually rejected/disposed,Tonnage from household Sources
QuText,QuestionNumber,,,,,,,,,,,,,,,,,,,,
Composting / Recycling tonnage collected through any other recycling schemes. Please note that it is optional to report how much of the total tonnage is from household sources - please see Help for further information.,Q018,0,0,0,0,0,0,0,0,0,51,0,0,0,0,0,0,0,0,0,8
How many abandoned vehicles were disposed of by your authority and what percentage was recycled?,Q025,29,0,0,0,0,0,40,0,0,31,0,0,0,0,0,0,0,0,0,0
Please provide details of other waste collected for disposal. (The destination of the residual is required for authorities in Wales only.),Q023,0,0,642,0,0,0,0,568,19,647,0,0,0,0,0,0,0,0,0,0
"Tonnes of material collected from commercial, industrial or other non household sources by LA or its contractors",Q011,0,198,0,0,0,0,0,0,0,0,16,0,12,293,0,29,0,0,0,0
Tonnes of material collected through kerbside schemes by non contracted voluntary/community sector from household sources,Q012,0,52,0,0,0,0,0,0,0,0,112,0,6,30,0,1,0,0,0,0
Tonnes of material collected at bring sites operated by LA or its contractors,Q017,0,0,0,0,124,0,0,0,0,0,0,0,0,341,52,0,109,40,0,0
Tonnes of material collected for recycling at street recycling bins,Q034,0,0,0,1,0,0,0,0,0,0,0,0,0,5,0,1,1,0,1,0
Tonnes of material collected for recycling/reuse at CA Sites operated by LA or its contractors,Q016,0,0,0,0,0,0,0,0,0,0,0,0,0,1910,248,0,334,158,0,0
Tonnes of material collected through kerbside schemes from household sources by LA or its contractors,Q010,0,414,0,0,0,352,0,0,0,0,41,0,11,534,0,31,0,0,0,0
Tonnes of materials collected at bring sites operated by voluntary / community sector,Q033,0,0,0,0,0,0,0,0,0,0,0,6,0,0,0,0,10,0,0,0

In [17]:
hhkerb_rec = raw[raw.QuestionNumber == 'Q010']

In [18]:
hhkerb_rec.Authority.nunique()

22

In [19]:
hhkerb_rec.shape

(1383, 8)

In [20]:
hhkerb_rec_ton = hhkerb_rec.groupby('ColText').get_group('Tonnage collected for recycling')

In [21]:
print(hhkerb_rec_ton['Authority'][5])

Flintshire County Council

In [22]:
hhkerb_rec_ton.head()

,Authority,Period,QuestionNumber,QuText,RowText,ColText,Data,MaterialGroup
5,Flintshire County Council,Jan 15 - Mar 15,Q010,Tonnes of material collected through kerbside ...,Mixed Plastic Bottles,Tonnage collected for recycling,335.54,Plastic
8,Flintshire County Council,Jan 15 - Mar 15,Q010,Tonnes of material collected through kerbside ...,Green garden waste only,Tonnage collected for recycling,1814.42,Organic
11,Flintshire County Council,Jan 15 - Mar 15,Q010,Tonnes of material collected through kerbside ...,Waste food only,Tonnage collected for recycling,1244.06,Organic
14,Flintshire County Council,Jan 15 - Mar 15,Q010,Tonnes of material collected through kerbside ...,Mixed glass,Tonnage collected for recycling,1034.7,Glass
17,Flintshire County Council,Jan 15 - Mar 15,Q010,Tonnes of material collected through kerbside ...,Mixed paper & card,Tonnage collected for recycling,1376.48,Paper & Card

In [23]:
hhkerb_rec_ton_wide = hhkerb_rec_ton.pivot_table(values='Data', index=['Authority','Period'],
                                         columns='RowText', aggfunc = lambda x: x)

In [24]:
hhkerb_rec_ton_wide.shape

(88, 31)

In [25]:
hhkerb_rec_ton_wide = hhkerb_rec_ton_wide.reset_index()

In [26]:
#hhkerb_rec_ton_wide[hhkerb_rec_ton_wide['Authority']=='Powys County Council']
hhkerb_rec_ton_wide[hhkerb_rec_ton_wide['Authority']=='Rhondda Cynon Taff CBC']

RowText,Authority,Period,Absorbent Hygiene Products (AHP),Aluminium cans,Car tyres,Card,Co mingled materials,Composite food and beverage cartons,Gas bottles,Green garden waste only,HDPE [2],Large vehicle tyres,Mixed Plastic Bottles,Mixed cans,Mixed garden and food waste,Mixed glass,Mixed paper & card,Other Scrap metal,Other compostable waste,Other materials,PS [6],Paper,Plastics,"Post consumer, non automotive batteries",Steel cans,Textiles & footwear,Textiles only,"Video tapes, DVDs and CDs",WEEE - Fridges & Freezers,WEEE - Large Domestic App,WEEE - Small Domestic App,Waste food only,Wood
72,Rhondda Cynon Taff CBC,Apr 14 - Jun 14,310.30,NaN,NaN,1222.05,999.65,NaN,NaN,255.34,NaN,NaN,NaN,347.23,NaN,2131.85,NaN,17.71,NaN,NaN,NaN,1470.90,949.95,NaN,NaN,23.35,NaN,NaN,32.98,8.26,NaN,1803.25,67.49
73,Rhondda Cynon Taff CBC,Jan 15 - Mar 15,326.98,NaN,NaN,2078.99,2048.50,NaN,NaN,193.52,NaN,NaN,NaN,414.60,NaN,1420.89,NaN,48.82,NaN,NaN,NaN,1754.61,1133.71,NaN,NaN,50.09,NaN,NaN,32.47,10.65,NaN,2287.34,1263.14
74,Rhondda Cynon Taff CBC,Jul 14 - Sep 14,NaN,NaN,NaN,1074.70,43.57,NaN,NaN,718.66,NaN,NaN,NaN,302.43,NaN,2115.58,NaN,9.42,NaN,NaN,NaN,1668.72,868.66,NaN,NaN,NaN,NaN,NaN,32.16,7.41,NaN,1754.78,16.78
75,Rhondda Cynon Taff CBC,Oct 14 - Dec 14,627.32,NaN,NaN,1026.46,1670.58,23.89,NaN,792.37,NaN,NaN,NaN,397.69,NaN,1549.33,NaN,35.05,NaN,NaN,8.02,1545.47,1038.92,NaN,NaN,18.70,NaN,NaN,27.01,14.97,NaN,2322.86,58.85

In [27]:
hhkerb_rec_ton_wide[hhkerb_rec_ton_wide['Authority']=='Wrexham CBC']

RowText,Authority,Period,Absorbent Hygiene Products (AHP),Aluminium cans,Car tyres,Card,Co mingled materials,Composite food and beverage cartons,Gas bottles,Green garden waste only,HDPE [2],Large vehicle tyres,Mixed Plastic Bottles,Mixed cans,Mixed garden and food waste,Mixed glass,Mixed paper & card,Other Scrap metal,Other compostable waste,Other materials,PS [6],Paper,Plastics,"Post consumer, non automotive batteries",Steel cans,Textiles & footwear,Textiles only,"Video tapes, DVDs and CDs",WEEE - Fridges & Freezers,WEEE - Large Domestic App,WEEE - Small Domestic App,Waste food only,Wood
84,Wrexham CBC,Apr 14 - Jun 14,NaN,NaN,NaN,NaN,2202.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5192.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,Wrexham CBC,Jan 15 - Mar 15,NaN,NaN,NaN,NaN,2041.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1916.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Wrexham CBC,Jul 14 - Sep 14,NaN,NaN,NaN,NaN,2007.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4377.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,Wrexham CBC,Oct 14 - Dec 14,NaN,NaN,NaN,NaN,2010.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2712.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
hhkerb_rec_ton_all = hhkerb_rec_ton_wide.groupby('Authority').agg(np.sum)
hhkerb_rec_ton_all = hhkerb_rec_ton_all.reset_index()
hhkerb_rec_ton_all = hhkerb_rec_ton_all.drop(['Green garden waste only','Mixed garden and food waste',
                                              'Waste food only'],axis=1)
hhkerb_rec_ton_all['sum_dry_rec'] = hhkerb_rec_ton_all.sum(axis=1)
hhkerb_rec_ton_agg = hhkerb_rec_ton_all.drop(['Absorbent Hygiene Products (AHP)','Car tyres',
                                                'Card','Gas bottles','Large vehicle tyres',
                                                'Mixed paper &  card','Other Scrap metal',
                                                'Other compostable waste','Other materials',
                                                'PS [6]','Paper',
                                                'Post consumer, non automotive batteries','Textiles & footwear',
                                                'Textiles only','Video tapes, DVDs and CDs',
                                                'WEEE - Fridges & Freezers','WEEE - Large Domestic App',
                                                'WEEE - Small Domestic App','Wood'],axis = 1)
#hhkerb_rec_ton_agg.reset_index(inplace = True)
hhkerb_rec_ton_agg

RowText,Authority,Aluminium cans,Co mingled materials,Composite food and beverage cartons,HDPE [2],Mixed Plastic Bottles,Mixed cans,Mixed glass,Plastics,Steel cans,sum_dry_rec
0,Blaenau Gwent CBC,NaN,7111.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7111.500
1,Bridgend CBC,172.44,NaN,NaN,NaN,NaN,NaN,3206.880,1498.680,513.14,10763.070
2,Caerphilly CBC,NaN,17828.170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17828.170
3,Cardiff County Council,NaN,32416.590,NaN,8.98,NaN,NaN,NaN,NaN,NaN,32774.610
4,Carmarthenshire County Council,NaN,13012.690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13012.690
5,Ceredigion County Council,NaN,5418.420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5424.040
6,City and County of Swansea,NaN,15855.870,NaN,NaN,NaN,NaN,NaN,3599.840,NaN,19455.710
7,Conwy CBC,NaN,NaN,NaN,NaN,NaN,547.92,3119.250,1066.460,NaN,8979.320
8,Denbighshire County Council,NaN,9720.210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9720.210
9,Flintshire County Council,165.22,12.240,NaN,NaN,1163.00,NaN,3749.760,NaN,413.90,10907.810
10,Gwynedd Council,94.63,NaN,17.82,NaN,805.62,NaN,3174.230,24.820,428.36,8570.590
11,Isle of Anglesey CC,NaN,NaN,NaN,NaN,493.68,307.03,1711.600,NaN,NaN,4496.970
12,Merthyr Tydfil CBC,NaN,6093.504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6093.504
13,Monmouthshire CC,NaN,10836.980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10836.980
14,Neath Port Talbot CBC,NaN,NaN,NaN,NaN,556.00,84.00,3139.000,724.000,NaN,10407.400
15,Newport City Council,242.85,NaN,NaN,NaN,984.06,NaN,3689.120,952.040,567.04,11339.280
16,Pembrokeshire County Council,NaN,8697.850,NaN,NaN,NaN,NaN,2322.240,NaN,NaN,11020.090
17,Powys County Council,NaN,1767.754,NaN,NaN,NaN,0.42,3611.444,194.779,NaN,10273.281
18,Rhondda Cynon Taff CBC,NaN,4762.300,23.89,NaN,NaN,1461.95,7217.650,3991.240,NaN,32346.860
19,Torfaen CBC,133.48,NaN,NaN,NaN,NaN,NaN,2079.910,817.630,386.49,6283.590
20,Vale of Glamorgan Council,NaN,12563.100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12563.100
21,Wrexham CBC,NaN,8261.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8261.700

In [79]:
hhkerb_rec_ton_agg['Authority'][21]

u'Wrexham CBC'

In [80]:
waste_ton = raw[(raw.QuestionNumber == 'Q023') & (raw.ColText == 'Tonnage')]
waste_ton.head()

,Authority,Period,QuestionNumber,QuText,RowText,ColText,Data,MaterialGroup
69,Flintshire County Council,Jan 15 - Mar 15,Q023,Please provide details of other waste collecte...,Collected household waste : Regular Collection,Tonnage,5650.169,NaN
72,Flintshire County Council,Jan 15 - Mar 15,Q023,Please provide details of other waste collecte...,Collected household waste : Street Cleaning,Tonnage,95.966,NaN
75,Flintshire County Council,Jan 15 - Mar 15,Q023,Please provide details of other waste collecte...,Collected household waste : Bulky Waste,Tonnage,132.563,NaN
78,Flintshire County Council,Jan 15 - Mar 15,Q023,Please provide details of other waste collecte...,Collected household waste : Other,Tonnage,85.676,NaN
81,Flintshire County Council,Jan 15 - Mar 15,Q023,Please provide details of other waste collecte...,Civic amenity sites waste : Household,Tonnage,2196.493,NaN

In [81]:
waste_ton_wide = waste_ton.pivot_table(values='Data', index=['Authority','Period'],
                                         columns='RowText', aggfunc = lambda x: x)
waste_ton_wide.reset_index(inplace = True)
waste_ton_wide.head()

RowText,Authority,Period,Asbestos Waste separately collected,Beach cleansing,Civic amenity sites waste : Household,Civic amenity sites waste : Non Household,Collected gully emptyings,Collected household waste : Bulky Waste,Collected household waste : Other,Collected household waste : Regular Collection,Collected household waste : Street Cleaning,Collected non-household waste : Commercial & Industrial,Collected non-household waste : Construction and Demolition,Collected non-household waste : Grounds Waste,Collected non-household waste : Highways waste,Collected non-household waste : Other,Other collected waste,Separately collected healthcare waste,Waste Arising from clearance of fly-tipped materials
0,Blaenau Gwent CBC,Apr 14 - Jun 14,NaN,NaN,366.70,191.68,310.56,NaN,NaN,3123.00,110.92,251.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Blaenau Gwent CBC,Jan 15 - Mar 15,NaN,NaN,471.20,NaN,252.58,NaN,NaN,3046.80,110.49,194.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Blaenau Gwent CBC,Jul 14 - Sep 14,NaN,NaN,558.05,NaN,303.40,NaN,NaN,3151.30,77.01,193.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Blaenau Gwent CBC,Oct 14 - Dec 14,NaN,NaN,468.84,NaN,339.60,NaN,NaN,3135.34,99.19,193.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bridgend CBC,Apr 14 - Jun 14,NaN,NaN,2136.06,NaN,NaN,377.3,NaN,4878.66,1086.78,736.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
hhkerb_waste_ton = waste_ton_wide[['Authority','Period','Collected household waste : Regular Collection']]
hhkerb_waste_ton.head()

RowText,Authority,Period,Collected household waste : Regular Collection
0,Blaenau Gwent CBC,Apr 14 - Jun 14,3123.00
1,Blaenau Gwent CBC,Jan 15 - Mar 15,3046.80
2,Blaenau Gwent CBC,Jul 14 - Sep 14,3151.30
3,Blaenau Gwent CBC,Oct 14 - Dec 14,3135.34
4,Bridgend CBC,Apr 14 - Jun 14,4878.66

In [83]:
hhkerb_waste_ton_agg = hhkerb_waste_ton.groupby('Authority').agg(np.sum)
hhkerb_waste_ton_agg = hhkerb_waste_ton_agg.reset_index()
hhkerb_waste_ton_agg

RowText,Authority,Collected household waste : Regular Collection
0,Blaenau Gwent CBC,12456.440
1,Bridgend CBC,19740.700
2,Caerphilly CBC,25625.310
3,Cardiff County Council,48807.540
4,Carmarthenshire County Council,14423.100
5,Ceredigion County Council,9299.770
6,City and County of Swansea,23014.390
7,Conwy CBC,19169.370
8,Denbighshire County Council,12239.120
9,Flintshire County Council,21845.869
10,Gwynedd Council,19643.180
11,Isle of Anglesey CC,15367.560
12,Merthyr Tydfil CBC,10490.900
13,Monmouthshire CC,5718.810
14,Neath Port Talbot CBC,25824.000
15,Newport City Council,24712.440
16,Pembrokeshire County Council,18662.760
17,Powys County Council,19070.236
18,Rhondda Cynon Taff CBC,30660.140
19,Torfaen CBC,17545.790
20,Vale of Glamorgan Council,13808.850
21,Wrexham CBC,24949.630

In [84]:
hhkerb_waste_ton_agg['Authority'][21]

u'Wrexham CBC'

In [85]:
hhkerb_waste_ton_agg['Collected household waste : Regular Collection'].sum()

433075.90499999997

In [86]:
hhkerb_waste_ton_agg.to_csv(op.join(data_dir, 'hhkerb_waste_ton_agg.csv'), encodings = 'utf-8')

In [87]:
hhkerb_rec_ton_agg

RowText,Authority,Aluminium cans,Co mingled materials,Composite food and beverage cartons,HDPE [2],Mixed Plastic Bottles,Mixed cans,Mixed glass,Plastics,Steel cans,sum_dry_rec
0,Blaenau Gwent CBC,NaN,7111.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7111.500
1,Bridgend CBC,172.44,NaN,NaN,NaN,NaN,NaN,3206.880,1498.680,513.14,10763.070
2,Caerphilly CBC,NaN,17828.170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17828.170
3,Cardiff County Council,NaN,32416.590,NaN,8.98,NaN,NaN,NaN,NaN,NaN,32774.610
4,Carmarthenshire County Council,NaN,13012.690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13012.690
5,Ceredigion County Council,NaN,5418.420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5424.040
6,City and County of Swansea,NaN,15855.870,NaN,NaN,NaN,NaN,NaN,3599.840,NaN,19455.710
7,Conwy CBC,NaN,NaN,NaN,NaN,NaN,547.92,3119.250,1066.460,NaN,8979.320
8,Denbighshire County Council,NaN,9720.210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9720.210
9,Flintshire County Council,165.22,12.240,NaN,NaN,1163.00,NaN,3749.760,NaN,413.90,10907.810
10,Gwynedd Council,94.63,NaN,17.82,NaN,805.62,NaN,3174.230,24.820,428.36,8570.590
11,Isle of Anglesey CC,NaN,NaN,NaN,NaN,493.68,307.03,1711.600,NaN,NaN,4496.970
12,Merthyr Tydfil CBC,NaN,6093.504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6093.504
13,Monmouthshire CC,NaN,10836.980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10836.980
14,Neath Port Talbot CBC,NaN,NaN,NaN,NaN,556.00,84.00,3139.000,724.000,NaN,10407.400
15,Newport City Council,242.85,NaN,NaN,NaN,984.06,NaN,3689.120,952.040,567.04,11339.280
16,Pembrokeshire County Council,NaN,8697.850,NaN,NaN,NaN,NaN,2322.240,NaN,NaN,11020.090
17,Powys County Council,NaN,1767.754,NaN,NaN,NaN,0.42,3611.444,194.779,NaN,10273.281
18,Rhondda Cynon Taff CBC,NaN,4762.300,23.89,NaN,NaN,1461.95,7217.650,3991.240,NaN,32346.860
19,Torfaen CBC,133.48,NaN,NaN,NaN,NaN,NaN,2079.910,817.630,386.49,6283.590
20,Vale of Glamorgan Council,NaN,12563.100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12563.100
21,Wrexham CBC,NaN,8261.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8261.700

In [88]:
hhkerb_rec_ton_agg.to_csv(op.join(data_dir, 'hhkerb_rec_ton_agg.csv'), encodings = 'utf-8')

#Applying the composition rates to recycling

In [89]:
hhkerb_rec_ton_drs = hhkerb_rec_ton_agg

In [90]:
hhkerb_rec_ton_drs.head()

RowText,Authority,Aluminium cans,Co mingled materials,Composite food and beverage cartons,HDPE [2],Mixed Plastic Bottles,Mixed cans,Mixed glass,Plastics,Steel cans,sum_dry_rec
0,Blaenau Gwent CBC,NaN,7111.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7111.50
1,Bridgend CBC,172.44,NaN,NaN,NaN,NaN,NaN,3206.88,1498.68,513.14,10763.07
2,Caerphilly CBC,NaN,17828.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17828.17
3,Cardiff County Council,NaN,32416.59,NaN,8.98,NaN,NaN,NaN,NaN,NaN,32774.61
4,Carmarthenshire County Council,NaN,13012.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13012.69

In [91]:
hhkerb_rec_ton_drs['DRS Ferrous Cans'] = hhkerb_rec_ton_drs['Steel cans']*.18
hhkerb_rec_ton_drs['DRS Aluminium Cans'] = hhkerb_rec_ton_drs['Aluminium cans']*.80
hhkerb_rec_ton_drs.head()

RowText,Authority,Aluminium cans,Co mingled materials,Composite food and beverage cartons,HDPE [2],Mixed Plastic Bottles,Mixed cans,Mixed glass,Plastics,Steel cans,sum_dry_rec,DRS Ferrous Cans,DRS Aluminium Cans
0,Blaenau Gwent CBC,NaN,7111.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7111.50,NaN,NaN
1,Bridgend CBC,172.44,NaN,NaN,NaN,NaN,NaN,3206.88,1498.68,513.14,10763.07,92.3652,137.952
2,Caerphilly CBC,NaN,17828.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17828.17,NaN,NaN
3,Cardiff County Council,NaN,32416.59,NaN,8.98,NaN,NaN,NaN,NaN,NaN,32774.61,NaN,NaN
4,Carmarthenshire County Council,NaN,13012.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13012.69,NaN,NaN

In [92]:
#Using WRAP-calculated rates
hhkerb_rec_ton_drs['DRS Glass Bottles'] = hhkerb_rec_ton_drs['Mixed glass']*.66

In [93]:
#Mostly, 'mixed Plastic Bottles' are treated as PET, HDPE, and Other. So DRS is assumed to be only PET and HDPE, 96%
hhkerb_rec_ton_drs['DRS Plastic Bottles'] = hhkerb_rec_ton_drs['Mixed Plastic Bottles']*.96
hhkerb_rec_ton_drs[['Mixed Plastic Bottles','DRS Plastic Bottles']].head(22)

RowText  Mixed Plastic Bottles  DRS Plastic Bottles
0                          NaN                  NaN
1                          NaN                  NaN
2                          NaN                  NaN
3                          NaN                  NaN
4                          NaN                  NaN
5                          NaN                  NaN
6                          NaN                  NaN
7                          NaN                  NaN
8                          NaN                  NaN
9                      1163.00            1116.4800
10                      805.62             773.3952
11                      493.68             473.9328
12                         NaN                  NaN
13                         NaN                  NaN
14                      556.00             533.7600
15                      984.06             944.6976
16                         NaN                  NaN
17                         NaN                  NaN
18                         NaN                  NaN
19                         NaN                  NaN
20                         NaN                  NaN
21                         NaN                  NaN

In [94]:
# If info not provided from Mixed Plastic Bottles, use Plastics. For most of these LAs, plastics are dense plastics. 
hhkerb_rec_ton_drs['DRS Plastic Bottles'] = np.where(hhkerb_rec_ton_drs['DRS Plastic Bottles'].isnull(), 
                                                     hhkerb_rec_ton_drs['Plastics']*.68, 
                                                     hhkerb_rec_ton_drs['DRS Plastic Bottles'])
hhkerb_rec_ton_drs[['Mixed Plastic Bottles','Plastics', 'DRS Plastic Bottles']].head(22)

RowText  Mixed Plastic Bottles  Plastics  DRS Plastic Bottles
0                          NaN       NaN                  NaN
1                          NaN  1498.680           1019.10240
2                          NaN       NaN                  NaN
3                          NaN       NaN                  NaN
4                          NaN       NaN                  NaN
5                          NaN       NaN                  NaN
6                          NaN  3599.840           2447.89120
7                          NaN  1066.460            725.19280
8                          NaN       NaN                  NaN
9                      1163.00       NaN           1116.48000
10                      805.62    24.820            773.39520
11                      493.68       NaN            473.93280
12                         NaN       NaN                  NaN
13                         NaN       NaN                  NaN
14                      556.00   724.000            533.76000
15                      984.06   952.040            944.69760
16                         NaN       NaN                  NaN
17                         NaN   194.779            132.44972
18                         NaN  3991.240           2714.04320
19                         NaN   817.630            555.98840
20                         NaN       NaN                  NaN
21                         NaN       NaN                  NaN

In [95]:
#For Swansea, Plastics are dense plastics plus plastic film, so the rate is 57% (from dividing 6.69 from 11.66)
hhkerb_rec_ton_drs[hhkerb_rec_ton_drs['Authority'] == 'City  and County of Swansea ']
hhkerb_rec_ton_drs['DRS Plastic Bottles'] = np.where(hhkerb_rec_ton_drs['Authority'] == 'City  and County of Swansea ',
                                                     hhkerb_rec_ton_drs['Plastics']*.57, 
                                                     hhkerb_rec_ton_drs['DRS Plastic Bottles'])
hhkerb_rec_ton_drs[['Authority', 'Mixed Plastic Bottles','Plastics', 'DRS Plastic Bottles']].head(22)

RowText,Authority,Mixed Plastic Bottles,Plastics,DRS Plastic Bottles
0,Blaenau Gwent CBC,NaN,NaN,NaN
1,Bridgend CBC,NaN,1498.680,1019.10240
2,Caerphilly CBC,NaN,NaN,NaN
3,Cardiff County Council,NaN,NaN,NaN
4,Carmarthenshire County Council,NaN,NaN,NaN
5,Ceredigion County Council,NaN,NaN,NaN
6,City and County of Swansea,NaN,3599.840,2051.90880
7,Conwy CBC,NaN,1066.460,725.19280
8,Denbighshire County Council,NaN,NaN,NaN
9,Flintshire County Council,1163.00,NaN,1116.48000
10,Gwynedd Council,805.62,24.820,773.39520
11,Isle of Anglesey CC,493.68,NaN,473.93280
12,Merthyr Tydfil CBC,NaN,NaN,NaN
13,Monmouthshire CC,NaN,NaN,NaN
14,Neath Port Talbot CBC,556.00,724.000,533.76000
15,Newport City Council,984.06,952.040,944.69760
16,Pembrokeshire County Council,NaN,NaN,NaN
17,Powys County Council,NaN,194.779,132.44972
18,Rhondda Cynon Taff CBC,NaN,3991.240,2714.04320
19,Torfaen CBC,NaN,817.630,555.98840
20,Vale of Glamorgan Council,NaN,NaN,NaN
21,Wrexham CBC,NaN,NaN,NaN

In [96]:
hhkerb_rec_ton_drs.head(22)

RowText,Authority,Aluminium cans,Co mingled materials,Composite food and beverage cartons,HDPE [2],Mixed Plastic Bottles,Mixed cans,Mixed glass,Plastics,Steel cans,sum_dry_rec,DRS Ferrous Cans,DRS Aluminium Cans,DRS Glass Bottles,DRS Plastic Bottles
0,Blaenau Gwent CBC,NaN,7111.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7111.500,NaN,NaN,NaN,NaN
1,Bridgend CBC,172.44,NaN,NaN,NaN,NaN,NaN,3206.880,1498.680,513.14,10763.070,92.3652,137.952,2116.54080,1019.10240
2,Caerphilly CBC,NaN,17828.170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17828.170,NaN,NaN,NaN,NaN
3,Cardiff County Council,NaN,32416.590,NaN,8.98,NaN,NaN,NaN,NaN,NaN,32774.610,NaN,NaN,NaN,NaN
4,Carmarthenshire County Council,NaN,13012.690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13012.690,NaN,NaN,NaN,NaN
5,Ceredigion County Council,NaN,5418.420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5424.040,NaN,NaN,NaN,NaN
6,City and County of Swansea,NaN,15855.870,NaN,NaN,NaN,NaN,NaN,3599.840,NaN,19455.710,NaN,NaN,NaN,2051.90880
7,Conwy CBC,NaN,NaN,NaN,NaN,NaN,547.92,3119.250,1066.460,NaN,8979.320,NaN,NaN,2058.70500,725.19280
8,Denbighshire County Council,NaN,9720.210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9720.210,NaN,NaN,NaN,NaN
9,Flintshire County Council,165.22,12.240,NaN,NaN,1163.00,NaN,3749.760,NaN,413.90,10907.810,74.5020,132.176,2474.84160,1116.48000
10,Gwynedd Council,94.63,NaN,17.82,NaN,805.62,NaN,3174.230,24.820,428.36,8570.590,77.1048,75.704,2094.99180,773.39520
11,Isle of Anglesey CC,NaN,NaN,NaN,NaN,493.68,307.03,1711.600,NaN,NaN,4496.970,NaN,NaN,1129.65600,473.93280
12,Merthyr Tydfil CBC,NaN,6093.504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6093.504,NaN,NaN,NaN,NaN
13,Monmouthshire CC,NaN,10836.980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10836.980,NaN,NaN,NaN,NaN
14,Neath Port Talbot CBC,NaN,NaN,NaN,NaN,556.00,84.00,3139.000,724.000,NaN,10407.400,NaN,NaN,2071.74000,533.76000
15,Newport City Council,242.85,NaN,NaN,NaN,984.06,NaN,3689.120,952.040,567.04,11339.280,102.0672,194.280,2434.81920,944.69760
16,Pembrokeshire County Council,NaN,8697.850,NaN,NaN,NaN,NaN,2322.240,NaN,NaN,11020.090,NaN,NaN,1532.67840,NaN
17,Powys County Council,NaN,1767.754,NaN,NaN,NaN,0.42,3611.444,194.779,NaN,10273.281,NaN,NaN,2383.55304,132.44972
18,Rhondda Cynon Taff CBC,NaN,4762.300,23.89,NaN,NaN,1461.95,7217.650,3991.240,NaN,32346.860,NaN,NaN,4763.64900,2714.04320
19,Torfaen CBC,133.48,NaN,NaN,NaN,NaN,NaN,2079.910,817.630,386.49,6283.590,69.5682,106.784,1372.74060,555.98840
20,Vale of Glamorgan Council,NaN,12563.100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12563.100,NaN,NaN,NaN,NaN
21,Wrexham CBC,NaN,8261.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8261.700,NaN,NaN,NaN,NaN

In [97]:
# Use Mixed cans if they are available (.27 is aluminium, .73 is ferrous) ... except for Neath Port Talbot and Powys
hhkerb_rec_ton_drs['DRS Aluminium Cans'] = np.where(hhkerb_rec_ton_drs['Mixed cans'].notnull(), 
                                                    hhkerb_rec_ton_drs['Mixed cans']*.27*.8, 
                                                    hhkerb_rec_ton_drs['DRS Aluminium Cans'])
hhkerb_rec_ton_drs['DRS Aluminium Cans'] = np.where(hhkerb_rec_ton_drs['Authority'] == 'Neath Port Talbot CBC', 
                                                    np.NaN, hhkerb_rec_ton_drs['DRS Aluminium Cans'])
hhkerb_rec_ton_drs['DRS Aluminium Cans'] = np.where(hhkerb_rec_ton_drs['Authority'] == 'Powys County Council', 
                                                    np.NaN, hhkerb_rec_ton_drs['DRS Aluminium Cans'])
hhkerb_rec_ton_drs['DRS Ferrous Cans'] = np.where(hhkerb_rec_ton_drs['Mixed cans'].notnull(), 
                                                    hhkerb_rec_ton_drs['Mixed cans']*.73*.18, 
                                                  hhkerb_rec_ton_drs['DRS Ferrous Cans'])
hhkerb_rec_ton_drs['DRS Ferrous Cans'] = np.where(hhkerb_rec_ton_drs['Authority'] == 'Neath Port Talbot CBC', 
                                                  np.NaN, hhkerb_rec_ton_drs['DRS Ferrous Cans'])
hhkerb_rec_ton_drs['DRS Ferrous Cans'] = np.where(hhkerb_rec_ton_drs['Authority'] == 'Powys County Council', 
                                                  np.NaN, hhkerb_rec_ton_drs['DRS Ferrous Cans'])
hhkerb_rec_ton_drs[['Authority','Aluminium cans','Steel cans','Mixed cans','DRS Aluminium Cans','DRS Ferrous Cans']].head(22)

RowText,Authority,Aluminium cans,Steel cans,Mixed cans,DRS Aluminium Cans,DRS Ferrous Cans
0,Blaenau Gwent CBC,NaN,NaN,NaN,NaN,NaN
1,Bridgend CBC,172.44,513.14,NaN,137.95200,92.365200
2,Caerphilly CBC,NaN,NaN,NaN,NaN,NaN
3,Cardiff County Council,NaN,NaN,NaN,NaN,NaN
4,Carmarthenshire County Council,NaN,NaN,NaN,NaN,NaN
5,Ceredigion County Council,NaN,NaN,NaN,NaN,NaN
6,City and County of Swansea,NaN,NaN,NaN,NaN,NaN
7,Conwy CBC,NaN,NaN,547.92,118.35072,71.996688
8,Denbighshire County Council,NaN,NaN,NaN,NaN,NaN
9,Flintshire County Council,165.22,413.90,NaN,132.17600,74.502000
10,Gwynedd Council,94.63,428.36,NaN,75.70400,77.104800
11,Isle of Anglesey CC,NaN,NaN,307.03,66.31848,40.343742
12,Merthyr Tydfil CBC,NaN,NaN,NaN,NaN,NaN
13,Monmouthshire CC,NaN,NaN,NaN,NaN,NaN
14,Neath Port Talbot CBC,NaN,NaN,84.00,NaN,NaN
15,Newport City Council,242.85,567.04,NaN,194.28000,102.067200
16,Pembrokeshire County Council,NaN,NaN,NaN,NaN,NaN
17,Powys County Council,NaN,NaN,0.42,NaN,NaN
18,Rhondda Cynon Taff CBC,NaN,NaN,1461.95,315.78120,192.100230
19,Torfaen CBC,133.48,386.49,NaN,106.78400,69.568200
20,Vale of Glamorgan Council,NaN,NaN,NaN,NaN,NaN
21,Wrexham CBC,NaN,NaN,NaN,NaN,NaN

In [98]:
hhkerb_rec_ton_drs.to_csv(op.join(data_dir, 'hhkerb_rec_ton_drs.csv'), encodings = 'utf-8')

#Comingled

In [100]:
hhkerb_rec_ton_drs['DRS Aluminium Cans'] = (hhkerb_rec_ton_drs['DRS Aluminium Cans']
                                            .replace(np.NaN, 
                                                     hhkerb_rec_ton_drs['sum_dry_rec']
                                                     *0.01688))
hhkerb_rec_ton_drs[['DRS Aluminium Cans', 'sum_dry_rec']].head(22)

RowText  DRS Aluminium Cans  sum_dry_rec
0                120.042120     7111.500
1                137.952000    10763.070
2                300.939510    17828.170
3                553.235417    32774.610
4                219.654207    13012.690
5                 91.557795     5424.040
6                328.412385    19455.710
7                118.350720     8979.320
8                164.077145     9720.210
9                132.176000    10907.810
10                75.704000     8570.590
11                66.318480     4496.970
12               102.858348     6093.504
13               182.928222    10836.980
14               175.676912    10407.400
15               194.280000    11339.280
16               186.019119    11020.090
17               173.412983    10273.281
18               315.781200    32346.860
19               106.784000     6283.590
20               212.065128    12563.100
21               139.457496     8261.700

In [101]:
hhkerb_rec_ton_drs['DRS Ferrous Cans'] = (hhkerb_rec_ton_drs['DRS Ferrous Cans']
                                            .replace(np.NaN, 
                                                     hhkerb_rec_ton_drs['sum_dry_rec']
                                                     *0.0101))
hhkerb_rec_ton_drs[['DRS Ferrous Cans', 'sum_dry_rec']].head(22)

RowText  DRS Ferrous Cans  sum_dry_rec
0               71.826150     7111.500
1               92.365200    10763.070
2              180.064517    17828.170
3              331.023561    32774.610
4              131.428169    13012.690
5               54.782804     5424.040
6              196.502671    19455.710
7               71.996688     8979.320
8               98.174121     9720.210
9               74.502000    10907.810
10              77.104800     8570.590
11              40.343742     4496.970
12              61.544390     6093.504
13             109.453498    10836.980
14             105.114740    10407.400
15             102.067200    11339.280
16             111.302909    11020.090
17             103.760138    10273.281
18             192.100230    32346.860
19              69.568200     6283.590
20             126.887310    12563.100
21              83.443170     8261.700

In [107]:
hhkerb_rec_ton_drs['DRS Glass Bottles'] = (hhkerb_rec_ton_drs['DRS Glass Bottles']
                                            .replace(np.NaN, 
                                                     hhkerb_rec_ton_drs['sum_dry_rec']
                                                     *0.1599))
hhkerb_rec_ton_drs[['DRS Glass Bottles', 'sum_dry_rec']].head(22)

RowText  DRS Glass Bottles  sum_dry_rec
0               1137.84000     7111.500
1               2116.54080    10763.070
2               2852.50720    17828.170
3               5243.93760    32774.610
4               2082.03040    13012.690
5                867.84640     5424.040
6               3112.91360    19455.710
7               2058.70500     8979.320
8               1555.23360     9720.210
9               2474.84160    10907.810
10              2094.99180     8570.590
11              1129.65600     4496.970
12               974.96064     6093.504
13              1733.91680    10836.980
14              2071.74000    10407.400
15              2434.81920    11339.280
16              1532.67840    11020.090
17              2383.55304    10273.281
18              4763.64900    32346.860
19              1372.74060     6283.590
20              2010.09600    12563.100
21              1321.87200     8261.700

In [103]:
hhkerb_rec_ton_drs['DRS Plastic Bottles'] = (hhkerb_rec_ton_drs['DRS Plastic Bottles']
                                            .replace(np.NaN, 
                                                     hhkerb_rec_ton_drs['sum_dry_rec']
                                                     *0.0669))
hhkerb_rec_ton_drs[['DRS Plastic Bottles', 'sum_dry_rec']].head(22)

RowText  DRS Plastic Bottles  sum_dry_rec
0                 475.759350     7111.500
1                1019.102400    10763.070
2                1192.704573    17828.170
3                2192.621409    32774.610
4                 870.548961    13012.690
5                 362.868276     5424.040
6                2051.908800    19455.710
7                 725.192800     8979.320
8                 650.282049     9720.210
9                1116.480000    10907.810
10                773.395200     8570.590
11                473.932800     4496.970
12                407.655418     6093.504
13                724.993962    10836.980
14                533.760000    10407.400
15                944.697600    11339.280
16                737.244021    11020.090
17                132.449720    10273.281
18               2714.043200    32346.860
19                555.988400     6283.590
20                840.471390    12563.100
21                552.707730     8261.700

In [111]:
hhkerb_rec_ton_drs['DRS Beverage Cartons'] = hhkerb_rec_ton_drs['Composite food and beverage cartons']
hhkerb_rec_ton_drs['DRS Beverage Cartons'] = (hhkerb_rec_ton_drs['DRS Beverage Cartons'].replace(
                                              np.NaN, hhkerb_rec_ton_drs['sum_dry_rec']*0.0031))
hhkerb_rec_ton_drs[['DRS Beverage Cartons', 'sum_dry_rec']].head(22)

RowText  DRS Beverage Cartons  sum_dry_rec
0                   22.045650     7111.500
1                   33.365517    10763.070
2                   55.267327    17828.170
3                  101.601291    32774.610
4                   40.339339    13012.690
5                   16.814524     5424.040
6                   60.312701    19455.710
7                   27.835892     8979.320
8                   30.132651     9720.210
9                   33.814211    10907.810
10                  17.820000     8570.590
11                  13.940607     4496.970
12                  18.889862     6093.504
13                  33.594638    10836.980
14                  32.262940    10407.400
15                  35.151768    11339.280
16                  34.162279    11020.090
17                  31.847171    10273.281
18                  23.890000    32346.860
19                  19.479129     6283.590
20                  38.945610    12563.100
21                  25.611270     8261.700

In [112]:
hhkerb_rec_ton_drs.to_csv(op.join(data_dir, 'hhkerb_rec_ton_drs_2910.csv'), encodings = 'utf-8')

In [144]:
hhkerb_rec_ton_drs.drop(['Aluminium cans','Co mingled materials','Composite food and beverage cartons','HDPE [2]',
                         'Mixed Plastic Bottles','Mixed cans','Mixed glass','Plastics','Steel cans','sum_dry_rec'],
                       axis =1, inplace = True)

In [145]:
hhkerb_rec_ton_sum = hhkerb_rec_ton_drs.sum(axis=0, numeric_only=True).div(1000).to_frame().rename(columns={0: 'Household Kerbside Recycling'})
hhkerb_rec_ton_sum

                      Household Kerbside Recycling
RowText
DRS Ferrous Cans                          2.485356
DRS Aluminium Cans                        4.097683
DRS Glass Bottles                        47.327070
DRS Plastic Bottles                      20.048808
DRS Beverage Cartons                      0.747124

#HHKERB_WASTE

In [113]:
hhkerb_waste_ton_agg.head()

RowText,Authority,Collected household waste : Regular Collection
0,Blaenau Gwent CBC,12456.44
1,Bridgend CBC,19740.70
2,Caerphilly CBC,25625.31
3,Cardiff County Council,48807.54
4,Carmarthenshire County Council,14423.10

In [122]:
hhkerb_waste_ton_drs = pd.DataFrame(columns=['Authority','DRS Glass Bottles',
                                             'DRS Plastic Bottles','DRS Ferrous Cans',
                                             'DRS Aluminium Cans','DRS Beverage Cartons'])
hhkerb_waste_ton_drs['Authority'] = hhkerb_waste_ton_agg['Authority']
hhkerb_waste_ton_drs['DRS Glass Bottles'] = hhkerb_waste_ton_agg['Collected household waste : Regular Collection']*0.0204
hhkerb_waste_ton_drs['DRS Plastic Bottles'] = hhkerb_waste_ton_agg['Collected household waste : Regular Collection']*0.0151
hhkerb_waste_ton_drs['DRS Ferrous Cans'] = hhkerb_waste_ton_agg['Collected household waste : Regular Collection']*0.001554
hhkerb_waste_ton_drs['DRS Aluminium Cans'] = hhkerb_waste_ton_agg['Collected household waste : Regular Collection']*0.003255
hhkerb_waste_ton_drs['DRS Beverage Cartons'] = hhkerb_waste_ton_agg['Collected household waste : Regular Collection']*0.0037
hhkerb_waste_ton_drs

,Authority,DRS Glass Bottles,DRS Plastic Bottles,DRS Ferrous Cans,DRS Aluminium Cans,DRS Beverage Cartons
0,Blaenau Gwent CBC,254.111376,188.092244,19.357308,40.545712,46.088828
1,Bridgend CBC,402.710280,298.084570,30.677048,64.255978,73.040590
2,Caerphilly CBC,522.756324,386.942181,39.821732,83.410384,94.813647
3,Cardiff County Council,995.673816,736.993854,75.846917,158.868543,180.587898
4,Carmarthenshire County Council,294.231240,217.788810,22.413497,46.947191,53.365470
5,Ceredigion County Council,189.715308,140.426527,14.451843,30.270751,34.409149
6,City and County of Swansea,469.493556,347.517289,35.764362,74.911839,85.153243
7,Conwy CBC,391.055148,289.457487,29.789201,62.396299,70.926669
8,Denbighshire County Council,249.678048,184.810712,19.019592,39.838336,45.284744
9,Flintshire County Council,445.655728,329.872622,33.948480,71.108304,80.829715
10,Gwynedd Council,400.720872,296.612018,30.525502,63.938551,72.679766
11,Isle of Anglesey CC,313.498224,232.050156,23.881188,50.021408,56.859972
12,Merthyr Tydfil CBC,214.014360,158.412590,16.302859,34.147880,38.816330
13,Monmouthshire CC,116.663724,86.354031,8.887031,18.614727,21.159597
14,Neath Port Talbot CBC,526.809600,389.942400,40.130496,84.057120,95.548800
15,Newport City Council,504.133776,373.157844,38.403132,80.438992,91.436028
16,Pembrokeshire County Council,380.720304,281.807676,29.001929,60.747284,69.052212
17,Powys County Council,389.032814,287.960564,29.635147,62.073618,70.559873
18,Rhondda Cynon Taff CBC,625.466856,462.968114,47.645858,99.798756,113.442518
19,Torfaen CBC,357.934116,264.941429,27.266158,57.111546,64.919423
20,Vale of Glamorgan Council,281.700540,208.513635,21.458953,44.947807,51.092745
21,Wrexham CBC,508.972452,376.739413,38.771725,81.211046,92.313631

In [132]:
hhkerb_waste_ton_sum = hhkerb_waste_ton_drs.sum(axis=0, numeric_only=True).div(1000).to_frame().rename(columns={0: 'Household Kerbside Residual'})
hhkerb_waste_ton_sum

                      Household Kerbside Residual
DRS Glass Bottles                        8.834748
DRS Plastic Bottles                      6.539446
DRS Ferrous Cans                         0.673000
DRS Aluminium Cans                       1.409662
DRS Beverage Cartons                     1.602381

In [146]:
baseline = hhkerb_rec_ton_sum.merge(hhkerb_waste_ton_sum, right_index=True, left_index=True)
baseline

,Household Kerbside Recycling,Household Kerbside Residual
DRS Glass Bottles,47.327070,8.834748
DRS Plastic Bottles,20.048808,6.539446
DRS Ferrous Cans,2.485356,0.673000
DRS Aluminium Cans,4.097683,1.409662
DRS Beverage Cartons,0.747124,1.602381

In [147]:
baseline.to_csv(op.join(data_dir, 'baseline_2910.csv'), encodings = 'utf-8')