In [1]:
import numpy as np 
import pandas as pd 
import os.path as op  
import datetime as dt 
import time 

# The default data directory will be '../../data' 
# This can be redefined by the user of the function. 
data_dir = op.join('data') 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
import massflow_baseline
reload(massflow_baseline)

In [4]:
raw = massflow_baseline.get_data()

In [4]:
question_16 = raw[raw.QuestionNumber == 'Q016']
test = question_16[question_16['ColText'].str.contains("Tonnage")]
test.ColText.unique()

array([u'Tonnage collected for recycling', u'Tonnage collected for reuse',
       u'Tonnage collected for recycling but actually rejected / disposed',
       u'Tonnage collected for reuse but actually rejected / disposed'], dtype=object)

#REUSE
All the tonnages recorded for reuse are from non-DRS sources. So they are only added to the "sum_dry_rec" for LAs with comingled materials to get accurate disaggregated tonnages for DRS.

In [5]:
hwrcs_reu_ton = question_16[(question_16.ColText == 'Tonnage collected for reuse') & (question_16.Data > 0)]
hwrcs_reu_ton.RowText.unique()

array([u'Books', u'Textiles & footwear', u'Rubble',
       u'WEEE - Fridges & Freezers', u'WEEE - Large Domestic App',
       u'Bric-a-brac', u'Gas bottles', u'Bicycles', u'Soil',
       u'Plasterboard', u'Furniture', u'Other Scrap metal', u'Wood',
       u'Video tapes, DVDs and CDs', u'Paint', u'Car tyres'], dtype=object)

In [6]:
hwrcs_reu_ton.head()

,Authority,Period,QuestionNumber,QuText,RowText,ColText,Data,MaterialGroup
52,Flintshire County Council,Jan 15 - Mar 15,Q016,Tonnes of material collected for recycling/reu...,Books,Tonnage collected for reuse,7.86,Paper & Card
54,Flintshire County Council,Jan 15 - Mar 15,Q016,Tonnes of material collected for recycling/reu...,Textiles & footwear,Tonnage collected for reuse,36.624,Textiles
56,Flintshire County Council,Jan 15 - Mar 15,Q016,Tonnes of material collected for recycling/reu...,Rubble,Tonnage collected for reuse,1305.51,Rubble
157,Flintshire County Council,Oct 14 - Dec 14,Q016,Tonnes of material collected for recycling/reu...,Books,Tonnage collected for reuse,5.491,Paper & Card
159,Flintshire County Council,Oct 14 - Dec 14,Q016,Tonnes of material collected for recycling/reu...,Textiles & footwear,Tonnage collected for reuse,15.25,Textiles

In [7]:
hwrcs_reu_ton_la = hwrcs_reu_ton.groupby('Authority')['Data'].sum().to_frame().reset_index().rename(columns={'Data':'sum_dry_rec'})
hwrcs_reu_ton_la

                         Authority  sum_dry_rec
0                Blaenau Gwent CBC        6.136
1           Cardiff County Council      320.310
2   Carmarthenshire County Council       19.020
3        Ceredigion County Council     1602.210
4     City  and County of Swansea       271.600
5                        Conwy CBC       18.620
6      Denbighshire County Council      213.945
7        Flintshire County Council     7708.283
8                  Gwynedd Council     1175.870
9              Isle of Anglesey CC        9.920
10              Merthyr Tydfil CBC        0.980
11                Monmouthshire CC      207.640
12           Neath Port Talbot CBC      147.760
13            Newport City Council      152.780
14    Pembrokeshire County Council      130.400
15            Powys County Council      205.589
16       Vale of Glamorgan Council       55.870
17                     Wrexham CBC     8187.590

In [8]:
hwrcs_rec_ton = question_16[(question_16.ColText == 'Tonnage collected for recycling') & (question_16.Data > 0)]
hwrcs_rec_ton.shape

(1899, 8)

In [9]:
hwrcs_rec_ton = question_16[(question_16.ColText == 'Tonnage collected for recycling')]
hwrcs_rec_ton.shape

(1910, 8)

In [10]:
hwrcs_reu_ton.head()

,Authority,Period,QuestionNumber,QuText,RowText,ColText,Data,MaterialGroup
52,Flintshire County Council,Jan 15 - Mar 15,Q016,Tonnes of material collected for recycling/reu...,Books,Tonnage collected for reuse,7.86,Paper & Card
54,Flintshire County Council,Jan 15 - Mar 15,Q016,Tonnes of material collected for recycling/reu...,Textiles & footwear,Tonnage collected for reuse,36.624,Textiles
56,Flintshire County Council,Jan 15 - Mar 15,Q016,Tonnes of material collected for recycling/reu...,Rubble,Tonnage collected for reuse,1305.51,Rubble
157,Flintshire County Council,Oct 14 - Dec 14,Q016,Tonnes of material collected for recycling/reu...,Books,Tonnage collected for reuse,5.491,Paper & Card
159,Flintshire County Council,Oct 14 - Dec 14,Q016,Tonnes of material collected for recycling/reu...,Textiles & footwear,Tonnage collected for reuse,15.25,Textiles

In [11]:
hwrcs_rec_ton.head()

,Authority,Period,QuestionNumber,QuText,RowText,ColText,Data,MaterialGroup
38,Flintshire County Council,Jan 15 - Mar 15,Q016,Tonnes of material collected for recycling/reu...,Green garden waste only,Tonnage collected for recycling,328.54,Organic
39,Flintshire County Council,Jan 15 - Mar 15,Q016,Tonnes of material collected for recycling/reu...,WEEE - Large Domestic App,Tonnage collected for recycling,241.51,WEEE
40,Flintshire County Council,Jan 15 - Mar 15,Q016,Tonnes of material collected for recycling/reu...,WEEE - Small Domestic App,Tonnage collected for recycling,117.48,WEEE
41,Flintshire County Council,Jan 15 - Mar 15,Q016,Tonnes of material collected for recycling/reu...,WEEE - Cathode Ray Tubes,Tonnage collected for recycling,44.59,WEEE
42,Flintshire County Council,Jan 15 - Mar 15,Q016,Tonnes of material collected for recycling/reu...,WEEE - Flourescent tubes and other light bulbs,Tonnage collected for recycling,1,WEEE

#Rejected send to residual

In [12]:
question_16[(question_16.ColText == 'Tonnage collected for recycling but actually rejected / disposed') & (question_16.Data > 0)]

,Authority,Period,QuestionNumber,QuText,RowText,ColText,Data,MaterialGroup
4514,Carmarthenshire County Council,Jan 15 - Mar 15,Q016,Tonnes of material collected for recycling/reu...,Paint,Tonnage collected for recycling but actually r...,32.2,Paint
4720,Carmarthenshire County Council,Oct 14 - Dec 14,Q016,Tonnes of material collected for recycling/reu...,Paint,Tonnage collected for recycling but actually r...,33.84,Paint
4940,Carmarthenshire County Council,Jul 14 - Sep 14,Q016,Tonnes of material collected for recycling/reu...,Paint,Tonnage collected for recycling but actually r...,57.98,Paint
5165,Carmarthenshire County Council,Apr 14 - Jun 14,Q016,Tonnes of material collected for recycling/reu...,Paint,Tonnage collected for recycling but actually r...,61.24,Paint
9669,Cardiff County Council,Apr 14 - Jun 14,Q016,Tonnes of material collected for recycling/reu...,Rubble,Tonnage collected for recycling but actually r...,18.32,Rubble

#Reuse

In [13]:
#This is making sure that the materials for reuse in hhkerb can be summed for sum_dry-recycling (not garden waste, etc.)
df = massflow_baseline.get_data()
hhkerb_rec = df[df.QuestionNumber == 'Q010']
hhkerb_reu_ton = hhkerb_rec[(hhkerb_rec.ColText == 'Tonnage Collected for Reuse') & (hhkerb_rec.Data > 0)]
#hhkerb_reu_ton = hhkerb_rec.groupby('ColText').get_group('Tonnage Collected for Reuse')
hhkerb_reu_ton.RowText.unique()
#hhkerb_reu_ton_qtr = hhkerb_reu_ton.pivot_table(values='Data', index=['Authority','Period'],columns='RowText', aggfunc = lambda x: x)

array([u'WEEE - Large Domestic App', u'Bric-a-brac',
       u'Textiles & footwear', u'Furniture', u'Wood',
       u'WEEE - Small Domestic App', u'Video tapes, DVDs and CDs'], dtype=object)

In [14]:
df = massflow_baseline.get_data()
hwrcs_rec = df[df.QuestionNumber == 'Q016']
hwrcs_reu_ton = hwrcs_rec.groupby('ColText').get_group('Tonnage collected for reuse')
hwrcs_reu_ton.RowText.unique()

array([u'Books', u'Textiles & footwear', u'Rubble',
       u'WEEE - Fridges & Freezers', u'WEEE - Large Domestic App',
       u'Bric-a-brac', u'Gas bottles', u'Bicycles', u'Soil',
       u'Plasterboard', u'Mixed Plastic Bottles',
       u'Green garden waste only', u'WEEE - Small Domestic App',
       u'WEEE - Flourescent tubes and other light bulbs',
       u'Composite food and beverage cartons', u'Mattresses',
       u'Mixed glass', u'Paper', u'Card', u'Mixed cans', u'Plastics',
       u'Co mingled materials', u'Wood', u'Other Scrap metal',
       u'Automotive batteries', u'Vegetable Oil', u'Mineral Oil', u'Paint',
       u'Furniture', u'WEEE - Cathode Ray Tubes', u'Carpets',
       u'Clear glass', u'Post consumer, non automotive batteries',
       u'Other materials', u'Mixed tyres', u'Video tapes, DVDs and CDs',
       u'Car tyres'], dtype=object)

In [15]:
#This is making sure that the materials for reuse in hwrcs can be summed for sum_dry-recycling (not garden waste, etc.)
hwrcs_reu_ton = question_16[(question_16.ColText == 'Tonnage collected for reuse') & (question_16.Data > 0)]
hwrcs_reu_ton.RowText.unique()

array([u'Books', u'Textiles & footwear', u'Rubble',
       u'WEEE - Fridges & Freezers', u'WEEE - Large Domestic App',
       u'Bric-a-brac', u'Gas bottles', u'Bicycles', u'Soil',
       u'Plasterboard', u'Furniture', u'Other Scrap metal', u'Wood',
       u'Video tapes, DVDs and CDs', u'Paint', u'Car tyres'], dtype=object)

In [16]:
hwrcs_reu_ton.head()

,Authority,Period,QuestionNumber,QuText,RowText,ColText,Data,MaterialGroup
52,Flintshire County Council,Jan 15 - Mar 15,Q016,Tonnes of material collected for recycling/reu...,Books,Tonnage collected for reuse,7.86,Paper & Card
54,Flintshire County Council,Jan 15 - Mar 15,Q016,Tonnes of material collected for recycling/reu...,Textiles & footwear,Tonnage collected for reuse,36.624,Textiles
56,Flintshire County Council,Jan 15 - Mar 15,Q016,Tonnes of material collected for recycling/reu...,Rubble,Tonnage collected for reuse,1305.51,Rubble
157,Flintshire County Council,Oct 14 - Dec 14,Q016,Tonnes of material collected for recycling/reu...,Books,Tonnage collected for reuse,5.491,Paper & Card
159,Flintshire County Council,Oct 14 - Dec 14,Q016,Tonnes of material collected for recycling/reu...,Textiles & footwear,Tonnage collected for reuse,15.25,Textiles

#Test functions

In [17]:
drslist = ['Authority','Brown glass','Clear glass','Green glass','Mixed glass',
                                   'Mixed Plastic Bottles','Plastics',
                                   'Aluminium cans','Steel cans','Mixed cans',
                                   'Composite food and beverage cartons',
                                   'Co mingled materials','sum_dry_rec']
#Get recycling data from CA sites (Question 16)
hwrcs_rec_ca = (raw[(raw.QuestionNumber == 'Q016') & (raw.ColText == 'Tonnage collected for recycling')]
                         .pivot_table(values='Data', index=['Authority','Period'],
                                      columns='RowText', aggfunc = lambda x: x).reset_index())
hwrcs_rec_ca_la = (hwrcs_rec_ca.groupby('Authority').agg(np.sum).reset_index()
                     .drop(['Green garden waste only'],axis=1))
#Get sum of dry recycling
hwrcs_rec_ca_la['sum_dry_rec'] = hwrcs_rec_ca_la.sum(axis=1)
#Keep DRS relevant columns, drop the rest
hwrcs_rec_ca_la = hwrcs_rec_ca_la[drslist]

In [18]:
#Get recycling data from bring sites (Question 17)
hwrcs_rec_bring = (raw[(raw.QuestionNumber == 'Q017') & (raw.ColText == 'Tonnage collected for recycling')]
                         .pivot_table(values='Data', index=['Authority','Period'],
                                      columns='RowText', aggfunc = lambda x: x).reset_index())
hwrcs_rec_bring_la = (hwrcs_rec_bring.groupby('Authority').agg(np.sum).reset_index()
                     .drop(['Green garden waste only'],axis=1))
#Get sum of dry recycling
hwrcs_rec_bring_la['sum_dry_rec'] = hwrcs_rec_bring_la.sum(axis=1)
#Keep DRS relevant columns, drop the rest
hwrcs_rec_bring_la = hwrcs_rec_bring_la[drslist]
#Add second to last row 'Vale of Glamorgan Council'
hwrcs_rec_bring_la = hwrcs_rec_bring_la.merge(hwrcs_rec_ca_la[['Authority']],how='outer',on='Authority').sort('Authority')
hwrcs_rec_bring_la.index = range(0,len(hwrcs_rec_bring_la))

In [19]:
hwrcs_rec_ca_la = hwrcs_rec_ca_la.replace(np.NaN,0)
hwrcs_rec_bring_la = hwrcs_rec_bring_la.replace(np.NaN,0)

In [20]:
test = (hwrcs_rec_ca_la + hwrcs_rec_bring_la)
test['Authority'] = hwrcs_rec_bring_la['Authority']
test.head()

RowText,Authority,Brown glass,Clear glass,Green glass,Mixed glass,Mixed Plastic Bottles,Plastics,Aluminium cans,Steel cans,Mixed cans,Composite food and beverage cartons,Co mingled materials,sum_dry_rec
0,Blaenau Gwent CBC,0,0.0,0,45.64,1.264,98.12,0.00,0,0.0,0.00,0.00,3474.659
1,Bridgend CBC,0,0.0,0,140.55,0.600,678.79,55.73,0,0.0,0.00,0.00,11110.720
2,Caerphilly CBC,0,0.0,0,33.08,0.000,0.00,0.00,0,0.0,0.00,10099.57,23896.750
3,Cardiff County Council,0,0.0,0,42.72,0.000,0.00,0.00,0,0.0,0.31,909.64,20096.510
4,Carmarthenshire County Council,0,276.9,0,3600.98,0.000,679.18,0.00,0,66.1,0.00,1676.42,22143.150

#Reuse from Q017 and Q016

In [21]:
hwrcs_reu_ca = raw[(raw.QuestionNumber == 'Q016') & 
                     (raw.ColText == 'Tonnage collected for reuse') & 
                     (raw.Data > 0)]
#It has been verified that all the materials selected above can be added to sum_dry_rec
hwrcs_reu_ca_la = (hwrcs_reu_ca.groupby('Authority')['Data'].agg(np.sum).to_frame().reset_index()
                         .rename(columns={'Data':'sum_dry_rec'}))

In [22]:
hwrcs_reu_ca_la

                         Authority  sum_dry_rec
0                Blaenau Gwent CBC        6.136
1           Cardiff County Council      320.310
2   Carmarthenshire County Council       19.020
3        Ceredigion County Council     1602.210
4     City  and County of Swansea       271.600
5                        Conwy CBC       18.620
6      Denbighshire County Council      213.945
7        Flintshire County Council     7708.283
8                  Gwynedd Council     1175.870
9              Isle of Anglesey CC        9.920
10              Merthyr Tydfil CBC        0.980
11                Monmouthshire CC      207.640
12           Neath Port Talbot CBC      147.760
13            Newport City Council      152.780
14    Pembrokeshire County Council      130.400
15            Powys County Council      205.589
16       Vale of Glamorgan Council       55.870
17                     Wrexham CBC     8187.590

In [23]:
hwrcs_reu_bring = raw[(raw.QuestionNumber == 'Q017') & 
                     (raw.ColText == 'Tonnage collected for reuse') & 
                     (raw.Data > 0)]
#It has been verified that all the materials selected above can be added to sum_dry_rec
hwrcs_reu_bring_la = (hwrcs_reu_bring.groupby('Authority')['Data'].agg(np.sum).to_frame().reset_index()
                         .rename(columns={'Data':'sum_dry_rec'}))

In [24]:
hwrcs_reu_bring_la

                       Authority  sum_dry_rec
0              Blaenau Gwent CBC        1.280
1         Cardiff County Council       45.550
2      Ceredigion County Council      136.740
3    Denbighshire County Council      129.462
4      Flintshire County Council       42.235
5                Gwynedd Council       83.740
6               Monmouthshire CC       14.330
7           Newport City Council       34.070
8   Pembrokeshire County Council       51.840
9           Powys County Council       58.620
10        Rhondda Cynon Taff CBC       42.290
11                   Torfaen CBC        6.680
12                   Wrexham CBC        6.820

In [25]:
hwrcs_rec_la = massflow_baseline.get_hwrcs_rec_la()
hwrcs_rec_la

RowText,Authority,Brown glass,Clear glass,Green glass,Mixed glass,Mixed Plastic Bottles,Plastics,Aluminium cans,Steel cans,Mixed cans,Composite food and beverage cartons,Co mingled materials,sum_dry_rec
0,Blaenau Gwent CBC,0.00,0.00,0.00,45.640,1.264,98.120,0.000,0.00,0.000,0.000,0.000,3482.075
1,Bridgend CBC,0.00,0.00,0.00,140.550,0.600,678.790,55.730,0.00,0.000,0.000,0.000,11110.720
2,Caerphilly CBC,0.00,0.00,0.00,33.080,0.000,0.000,0.000,0.00,0.000,0.000,10099.570,23896.750
3,Cardiff County Council,0.00,0.00,0.00,42.720,0.000,0.000,0.000,0.00,0.000,0.310,909.640,20462.370
4,Carmarthenshire County Council,0.00,276.90,0.00,3600.980,0.000,679.180,0.000,0.00,66.100,0.000,1676.420,22162.170
5,Ceredigion County Council,0.00,0.00,0.00,1333.470,58.070,138.890,14.420,14.26,9.780,0.030,57.800,7310.700
6,City and County of Swansea,0.00,0.00,0.00,0.000,0.000,635.540,0.000,0.00,0.000,11.210,1511.000,15805.830
7,Conwy CBC,0.00,0.00,0.00,503.330,0.000,340.400,0.000,0.00,66.850,0.000,0.000,8536.250
8,Denbighshire County Council,17.93,30.09,45.34,0.000,0.000,159.800,0.000,0.00,0.000,0.000,0.000,5775.434
9,Flintshire County Council,0.00,0.00,0.00,413.440,31.460,200.900,0.000,0.00,47.542,4.796,0.000,16500.338
10,Gwynedd Council,0.00,0.00,0.00,314.510,25.460,4.160,0.000,0.00,0.000,1.820,0.000,10204.760
11,Isle of Anglesey CC,35.64,55.77,75.55,50.570,0.000,189.940,0.000,0.00,7.270,1.710,0.000,5232.560
12,Merthyr Tydfil CBC,0.00,0.00,0.00,126.529,13.460,0.000,0.000,0.00,4.276,0.000,0.000,5084.354
13,Monmouthshire CC,0.00,0.00,0.00,151.360,0.000,9.430,8.540,4.70,0.000,0.000,0.000,8845.970
14,Neath Port Talbot CBC,0.00,0.00,0.00,212.820,38.430,0.000,0.000,0.00,0.000,0.180,0.000,11525.970
15,Newport City Council,0.00,0.00,0.00,171.100,4.680,166.460,0.000,7.92,0.000,5.520,321.100,10019.690
16,Pembrokeshire County Council,0.00,0.00,0.00,1273.700,0.290,0.000,3.930,28.86,0.000,4.040,0.000,11649.930
17,Powys County Council,0.00,165.02,0.00,664.129,6.640,393.967,5.772,0.00,6.680,3.703,602.362,14139.857
18,Rhondda Cynon Taff CBC,0.00,0.00,0.00,290.610,0.000,536.190,0.000,0.00,35.470,0.000,0.000,19089.250
19,Torfaen CBC,0.00,0.00,0.00,33.340,0.000,0.000,0.000,0.00,0.000,0.304,465.360,5399.284
20,Vale of Glamorgan Council,0.00,0.00,0.00,56.920,0.000,358.290,0.000,0.00,0.000,0.000,0.000,9268.950
21,Wrexham CBC,0.00,0.00,0.00,253.960,18.280,0.000,0.000,0.00,8.760,3.160,743.800,18624.780

In [26]:
reload(massflow_baseline)

In [27]:
test_reu = massflow_baseline.get_hwrcs_reu_la()
test_reu

                         Authority  sum_dry_rec
0                Blaenau Gwent CBC        7.416
1           Cardiff County Council      365.860
2   Carmarthenshire County Council       19.020
3        Ceredigion County Council     1738.950
4     City  and County of Swansea       271.600
5                        Conwy CBC       18.620
6      Denbighshire County Council      343.407
7        Flintshire County Council     7750.518
8                  Gwynedd Council     1259.610
9              Isle of Anglesey CC        9.920
10              Merthyr Tydfil CBC        0.980
11                Monmouthshire CC      221.970
12           Neath Port Talbot CBC      147.760
13            Newport City Council      186.850
14    Pembrokeshire County Council      182.240
15            Powys County Council      264.209
16       Vale of Glamorgan Council       55.870
17                     Wrexham CBC     8194.410
18          Rhondda Cynon Taff CBC       42.290
19                     Torfaen CBC        6.680

In [28]:
test_rec = massflow_baseline.get_hwrcs_rec_la()

In [40]:
test_rec

RowText,Authority,Brown glass,Clear glass,Green glass,Mixed glass,Mixed Plastic Bottles,Plastics,Aluminium cans,Steel cans,Mixed cans,Composite food and beverage cartons,Co mingled materials,sum_dry_rec
0,Blaenau Gwent CBC,0.00,0.00,0.00,45.640,1.264,98.120,0.000,0.00,0.000,0.000,0.000,3482.075
1,Bridgend CBC,0.00,0.00,0.00,140.550,0.600,678.790,55.730,0.00,0.000,0.000,0.000,11110.720
2,Caerphilly CBC,0.00,0.00,0.00,33.080,0.000,0.000,0.000,0.00,0.000,0.000,10099.570,23896.750
3,Cardiff County Council,0.00,0.00,0.00,42.720,0.000,0.000,0.000,0.00,0.000,0.310,909.640,20462.370
4,Carmarthenshire County Council,0.00,276.90,0.00,3600.980,0.000,679.180,0.000,0.00,66.100,0.000,1676.420,22162.170
5,Ceredigion County Council,0.00,0.00,0.00,1333.470,58.070,138.890,14.420,14.26,9.780,0.030,57.800,7310.700
6,City and County of Swansea,0.00,0.00,0.00,0.000,0.000,635.540,0.000,0.00,0.000,11.210,1511.000,15805.830
7,Conwy CBC,0.00,0.00,0.00,503.330,0.000,340.400,0.000,0.00,66.850,0.000,0.000,8536.250
8,Denbighshire County Council,17.93,30.09,45.34,0.000,0.000,159.800,0.000,0.00,0.000,0.000,0.000,5775.434
9,Flintshire County Council,0.00,0.00,0.00,413.440,31.460,200.900,0.000,0.00,47.542,4.796,0.000,16500.338
10,Gwynedd Council,0.00,0.00,0.00,314.510,25.460,4.160,0.000,0.00,0.000,1.820,0.000,10204.760
11,Isle of Anglesey CC,35.64,55.77,75.55,50.570,0.000,189.940,0.000,0.00,7.270,1.710,0.000,5232.560
12,Merthyr Tydfil CBC,0.00,0.00,0.00,126.529,13.460,0.000,0.000,0.00,4.276,0.000,0.000,5084.354
13,Monmouthshire CC,0.00,0.00,0.00,151.360,0.000,9.430,8.540,4.70,0.000,0.000,0.000,8845.970
14,Neath Port Talbot CBC,0.00,0.00,0.00,212.820,38.430,0.000,0.000,0.00,0.000,0.180,0.000,11525.970
15,Newport City Council,0.00,0.00,0.00,171.100,4.680,166.460,0.000,7.92,0.000,5.520,321.100,10019.690
16,Pembrokeshire County Council,0.00,0.00,0.00,1273.700,0.290,0.000,3.930,28.86,0.000,4.040,0.000,11649.930
17,Powys County Council,0.00,165.02,0.00,664.129,6.640,393.967,5.772,0.00,6.680,3.703,602.362,14139.857
18,Rhondda Cynon Taff CBC,0.00,0.00,0.00,290.610,0.000,536.190,0.000,0.00,35.470,0.000,0.000,19089.250
19,Torfaen CBC,0.00,0.00,0.00,33.340,0.000,0.000,0.000,0.00,0.000,0.304,465.360,5399.284
20,Vale of Glamorgan Council,0.00,0.00,0.00,56.920,0.000,358.290,0.000,0.00,0.000,0.000,0.000,9268.950
21,Wrexham CBC,0.00,0.00,0.00,253.960,18.280,0.000,0.000,0.00,8.760,3.160,743.800,18624.780

#HWRCS Residual

In [46]:
raw = massflow_baseline.get_data()
hwrcs_res = (raw[(raw.QuestionNumber == 'Q023') & (raw.ColText == 'Tonnage')]
             .pivot_table(values='Data', index=['Authority','Period'],
                          columns='RowText', aggfunc = lambda x: x)
             .reset_index())
hwrcs_res_qtr = hwrcs_res[['Authority','Period','Civic amenity sites waste : Household']]

In [55]:
hwrcs_rej_ca_qtr = raw[(raw.QuestionNumber == 'Q016') & 
                     (raw.ColText == 'Tonnage collected for recycling but actually rejected / disposed')&
                     (raw.Data > 0)]
hwrcs_rej_ca_qtr

,Authority,Period,QuestionNumber,QuText,RowText,ColText,Data,MaterialGroup
4514,Carmarthenshire County Council,Jan 15 - Mar 15,Q016,Tonnes of material collected for recycling/reu...,Paint,Tonnage collected for recycling but actually r...,32.2,Paint
4720,Carmarthenshire County Council,Oct 14 - Dec 14,Q016,Tonnes of material collected for recycling/reu...,Paint,Tonnage collected for recycling but actually r...,33.84,Paint
4940,Carmarthenshire County Council,Jul 14 - Sep 14,Q016,Tonnes of material collected for recycling/reu...,Paint,Tonnage collected for recycling but actually r...,57.98,Paint
5165,Carmarthenshire County Council,Apr 14 - Jun 14,Q016,Tonnes of material collected for recycling/reu...,Paint,Tonnage collected for recycling but actually r...,61.24,Paint
9669,Cardiff County Council,Apr 14 - Jun 14,Q016,Tonnes of material collected for recycling/reu...,Rubble,Tonnage collected for recycling but actually r...,18.32,Rubble

In [50]:
qu16 = raw[(raw.QuestionNumber == 'Q016')]
qu16.ColText.unique()

array([u'Tonnage collected for recycling', u'Tonnage collected for reuse',
       u'Tonnage collected for recycling but actually rejected / disposed',
       u'Tonnage collected for reuse but actually rejected / disposed'], dtype=object)

In [63]:
hwrcs_rej_bring_qtr = raw[(raw.QuestionNumber == 'Q017') & 
                     (raw.ColText == 'Tonnage collected for recycling but actually rejected / disposed')&
                     (raw.Data > 0)]
hwrcs_rej_bring_qtr

Empty DataFrame
Columns: [Authority, Period, QuestionNumber, QuText, RowText, ColText, Data, MaterialGroup]
Index: []

In [58]:
qu16 = raw[(raw.QuestionNumber == 'Q017')]
qu16.ColText.unique()

array([u'Tonnage collected for recycling', u'Tonnage collected for reuse',
       u'Tonnage collected for recycling but actually rejected / disposed',
       u'No. of LA bring sites by material type',
       u'Tonnage collected for reuse but actually rejected / disposed'], dtype=object)

In [61]:
raw = massflow_baseline.get_data()

In [82]:
reload(massflow_baseline)

In [78]:
hwrcs_rej_la = massflow_baseline.get_hwrcs_rej_la()
hwrcs_rej_la

                        Authority    Data
0          Cardiff County Council   18.32
1  Carmarthenshire County Council  185.26

In [79]:
hwrcs_res_la = massflow_baseline.get_hwrcs_res_la()
hwrcs_res_la

RowText                       Authority  Civic amenity sites waste : Household
0                     Blaenau Gwent CBC                               1864.790
1                          Bridgend CBC                               7333.060
2                        Caerphilly CBC                               1786.180
3                Cardiff County Council                              11427.260
4        Carmarthenshire County Council                               4425.100
5             Ceredigion County Council                               1758.290
6          City  and County of Swansea                                9604.640
7                             Conwy CBC                               2164.860
8           Denbighshire County Council                                706.680
9             Flintshire County Council                               9769.263
10                      Gwynedd Council                               3402.510
11                  Isle of Anglesey CC                               1430.160
12                   Merthyr Tydfil CBC                               1661.140
13                     Monmouthshire CC                               6929.480
14                Neath Port Talbot CBC                               3254.000
15                 Newport City Council                               3657.380
16         Pembrokeshire County Council                               5335.480
17                 Powys County Council                               6045.499
18               Rhondda Cynon Taff CBC                               2646.290
19                          Torfaen CBC                               2463.370
20            Vale of Glamorgan Council                               5685.620
21                          Wrexham CBC                               3775.060

In [81]:
hwrcs_res_drs = massflow_baseline.get_hwrcs_res_drs()
hwrcs_res_drs

,Authority,DRS Glass Bottles,DRS Plastic Bottles,DRS Ferrous Cans,DRS Aluminium Cans,DRS Beverage Cartons
0,Blaenau Gwent CBC,21.752775,12.307614,3.401377,4.624679,1.305353
1,Bridgend CBC,85.540145,48.398196,13.375501,18.185989,5.133142
2,Caerphilly CBC,20.835790,11.788788,3.257992,4.429726,1.250326
3,Cardiff County Council,133.298988,75.419916,20.843322,28.339605,7.999082
4,Carmarthenshire County Council,51.618792,29.205660,8.071382,10.974248,3.097570
5,Ceredigion County Council,20.510453,11.604714,3.207121,4.360559,1.230803
6,City and County of Swansea,112.038126,63.390624,17.518863,23.819507,6.723248
7,Conwy CBC,25.253092,14.288076,3.948705,5.368853,1.515402
8,Denbighshire County Council,8.243422,4.664088,1.288984,1.752566,0.494676
9,Flintshire County Council,113.958453,64.477136,17.819136,24.227772,6.838484
10,Gwynedd Council,39.690279,22.456566,6.206178,8.438225,2.381757
11,Isle of Anglesey CC,16.682816,9.439056,2.608612,3.546797,1.001112
12,Merthyr Tydfil CBC,19.377198,10.963524,3.029919,4.119627,1.162798
13,Monmouthshire CC,80.832384,45.734568,12.639372,17.185110,4.850636
14,Neath Port Talbot CBC,37.957910,21.476400,5.935296,8.069920,2.277800
15,Newport City Council,42.663338,24.138708,6.671061,9.070302,2.560166
16,Pembrokeshire County Council,62.238374,35.214168,9.731916,13.231990,3.734836
17,Powys County Council,70.520746,39.900293,11.026990,14.992838,4.231849
18,Rhondda Cynon Taff CBC,30.868973,17.465514,4.826833,6.562799,1.852403
19,Torfaen CBC,28.735211,16.258242,4.493187,6.109158,1.724359
20,Vale of Glamorgan Council,66.322757,37.525092,10.370571,14.100338,3.979934
21,Wrexham CBC,44.036075,24.915396,6.885709,9.362149,2.642542

In [83]:
baseline = massflow_baseline.get_massflow_baseline()
baseline

,Authority,Household Kerbside Recycling,Household Kerbside Residual,HWRCs Residual
0,DRS Glass Bottles,47.312957,8.839449,1.132976
1,DRS Plastic Bottles,20.048890,6.542926,0.641032
2,DRS Ferrous Cans,2.485369,0.673358,0.177158
3,DRS Aluminium Cans,4.097704,1.410412,0.240873
4,DRS Beverage Cartons,0.748891,1.603233,0.067988

#Now, just have to deal with recycling rates for HWRCs...

In [8]:
reload(massflow_baseline)

In [9]:
hwrcs_rec_drs = massflow_baseline.get_hwrcs_rec_drs()
hwrcs_rec_drs

RowText,Authority,DRS Glass Bottles,DRS Plastic Bottles,DRS Ferrous Cans,DRS Aluminium Cans,DRS Beverage Cartons
0,Blaenau Gwent CBC,34.23000,50.3240,0.00,0.000,0.000
1,Bridgend CBC,105.41250,339.9950,0.00,55.730,0.000
2,Caerphilly CBC,24.81000,0.0000,0.00,0.000,0.000
3,Cardiff County Council,32.04000,0.0000,0.00,0.000,0.310
4,Carmarthenshire County Council,2797.65000,339.5900,0.00,0.000,0.000
5,Ceredigion County Council,1000.10250,127.5150,14.26,14.420,0.030
6,City and County of Swansea,0.00000,317.7700,0.00,0.000,11.210
7,Conwy CBC,377.49750,170.2000,0.00,0.000,0.000
8,Denbighshire County Council,73.80150,79.9000,0.00,0.000,0.000
9,Flintshire County Council,310.08000,131.9100,0.00,0.000,4.796
10,Gwynedd Council,235.88250,27.5400,0.00,0.000,1.820
11,Isle of Anglesey CC,168.63700,94.9700,0.00,0.000,1.710
12,Merthyr Tydfil CBC,94.89675,13.4600,0.00,0.000,0.000
13,Monmouthshire CC,113.52000,4.7150,4.70,8.540,0.000
14,Neath Port Talbot CBC,159.61500,38.4300,0.00,0.000,0.180
15,Newport City Council,128.32500,87.9100,7.92,0.000,5.520
16,Pembrokeshire County Council,955.27500,0.2900,28.86,3.930,4.040
17,Powys County Council,555.85375,203.6235,0.00,5.772,3.703
18,Rhondda Cynon Taff CBC,217.95750,268.0950,0.00,0.000,0.000
19,Torfaen CBC,25.00500,0.0000,0.00,0.000,0.304
20,Vale of Glamorgan Council,42.69000,179.1450,0.00,0.000,0.000
21,Wrexham CBC,190.47000,18.2800,0.00,0.000,3.160

In [6]:
hhkerb_rec_la = massflow_baseline.get_hhkerb_rec_la()

In [7]:
hhkerb_rec_la

RowText,Authority,Mixed glass,Mixed Plastic Bottles,Plastics,Steel cans,Aluminium cans,Mixed cans,Composite food and beverage cartons,Co mingled materials,sum_dry_rec
0,Blaenau Gwent CBC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7111.500,7112.724
1,Bridgend CBC,3206.880,NaN,1498.680,513.14,172.44,NaN,NaN,NaN,10763.070
2,Caerphilly CBC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17828.170,17828.170
3,Cardiff County Council,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32416.590,32774.610
4,Carmarthenshire County Council,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13012.690,13012.690
5,Ceredigion County Council,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5418.420,5424.040
6,City and County of Swansea,NaN,NaN,3599.840,NaN,NaN,NaN,NaN,15855.870,19455.710
7,Conwy CBC,3119.250,NaN,1066.460,NaN,NaN,547.92,NaN,NaN,9171.100
8,Denbighshire County Council,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9720.210,9720.210
9,Flintshire County Council,3749.760,1163.00,NaN,413.90,165.22,NaN,NaN,12.240,10907.810
10,Gwynedd Council,3174.230,805.62,24.820,428.36,94.63,NaN,17.82,NaN,8570.590
11,Isle of Anglesey CC,1711.600,493.68,NaN,NaN,NaN,307.03,NaN,NaN,4496.970
12,Merthyr Tydfil CBC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6093.504,6093.504
13,Monmouthshire CC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10836.980,10836.980
14,Neath Port Talbot CBC,3139.000,556.00,724.000,NaN,NaN,84.00,NaN,NaN,10407.400
15,Newport City Council,3689.120,984.06,952.040,567.04,242.85,NaN,NaN,NaN,11520.770
16,Pembrokeshire County Council,2322.240,NaN,NaN,NaN,NaN,NaN,NaN,8697.850,11020.090
17,Powys County Council,3611.444,NaN,194.779,NaN,NaN,0.42,NaN,1767.754,10273.281
18,Rhondda Cynon Taff CBC,7217.650,NaN,3991.240,NaN,NaN,1461.95,23.89,4762.300,32346.860
19,Torfaen CBC,2079.910,NaN,817.630,386.49,133.48,NaN,NaN,NaN,6478.845
20,Vale of Glamorgan Council,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12563.100,12563.100
21,Wrexham CBC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8261.700,8261.700

In [10]:
massflow_baseline.get_massflow_baseline()

,Authority,Household Kerbside Recycling,Household Kerbside Residual,HWRCs Recycling,HWRCs Residual
0,DRS Glass Bottles,47.312957,8.839449,7.643751,1.132976
1,DRS Plastic Bottles,20.048890,6.542926,2.493663,0.641032
2,DRS Ferrous Cans,2.485369,0.673358,0.055740,0.177158
3,DRS Aluminium Cans,4.097704,1.410412,0.088392,0.240873
4,DRS Beverage Cartons,0.748891,1.603233,0.036783,0.067988